<div class="breakcrumb">
	<ol class="breadcrumb">
	  <li class="active">Building</li>
	</ol>
</div>
<div class="locations" ng-cloak ng-controller="buildingController" ng-init="Init()">
	<div class="row">
		<div class="col-md-2">Select location</div>
		<div class="col-md-8">
			<select class="form-control" ng-model="location_id"  ng-init="location_id" 
        			    ng-options="location.id as location.name for location in locations" ng-change="changeLocation(location_id)">
       		 </select>
		</div>
		<div class="col-md-2">
			<a class="add-key-resource btn btn-primary" ng-click="addNewBuilding()">New Building</a>
		</div>
	</div>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Zipcode</th>
					<th>Image Url </th>
					<th>Thumbnail Url</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="building in buildings.slice(((currentPage-1)*itemPerPage), ((currentPage)*itemPerPage))">
                        <td ng-bind="building.name"></td>
                        <td ng-bind="building.address"></td>
                        <td ng-bind="building.zipcode"></td>
                        <td ng-bind="building.image_url"></td>
                        <td ng-bind="building.thumbnail_url"></td>
                        <td width="70px;" align="center">
                        	<a class="td-edit" ng-click="editBuilding(building)"><i class="fa fa-pencil-square-o"></i></a>   
                        	<a class="td-delete" ng-click="deleteBuilding(building)"><i class="fa fa-times"></i></a>           
                    	</td> 
                    </tr>
			</tbody>
		 </table>
		 <div class="paginations">
            <div class="col-md-6">
            	<uib-pagination boundary-links="true" total-items="TotalItems"  max-size="maxSize" items-per-page="itemPerPage" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
            <div class="col-md-6 total">
                <span>Total:</span>
                <span ng-bind="TotalItems"></span>                
            </div>
        </div>      
</div>

<script language="javascript" src="/js/admin/main/building/buildingController.js"></script>

	
