<div ng-cloak ng-controller="buildingDetailController" ng-init="Init()">
	<div class="breakcrumb">
		<ol class="breadcrumb">
		  <li><a href="/main/building/building.html">Building</a></li>
		  <li class="active"  ng-bind="IsUpdate?'Update building':'Add building'"></li>
		</ol>
	</div>
	<form name="buildingDetail" class="location-detail" >
		<div class="row">
			<div class="col-md-12">
				<div class="row item">
					<div class="col-md-2">
						Name:
					</div>
					<div class="col-md-10">
						<p ng-show="false" ng-model="building.location_id"></p>
						<input type="text" ng-model="building.name" class="form-control" name="name" required
						      uib-tooltip="{{(buildingDetail.name.$error.required)?'This field is required.':''}}"
						      tooltip-enable="!building.name"
						      tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
					</div>
				</div>
				<div class="row item">
					<div class="col-md-2">
						Address:
					</div>
					<div class="col-md-10">
						<input type="text" ng-model="building.address" class="form-control" name="address" required
						      uib-tooltip="{{(buildingDetail.address.$error.required)?'This field is required.':''}}"
						      tooltip-enable="!building.address"
						      tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
					</div>
				</div>
				<div class="row item">
					<div class="col-md-2">
						Zipcode:
					</div>
					<div class="col-md-10">
						<input type="text" ng-model="building.zipcode" class="form-control" name="zipcode" required
						      uib-tooltip="{{(buildingDetail.zipcode.$error.required)?'This field is required.':''}}"
						      tooltip-enable="!building.zipcode"
						      tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
					</div>
				</div>
				<div class="row item">
					<div class="col-md-2">
						Image file:
					</div>
					<div class="col-md-10">
						<input type="file" file="file" accept="image/*" ng-required="!IsUpdate"/>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-action">
			<button type="submit" ng-click="save()" class="button-save">Save</button>
			<button  ng-click="cancel()" class="button-cancel">Cancel</button>
		</div>
	</form>
</div>
<script language="javascript" src="/js/admin/main/building/buildingDetailController.js"></script>

	
