<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Townsquare - Administration</title>
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
  <link rel="manifest" href="images/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
 <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/angular-block-ui.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/css/ngDialog.css" rel="stylesheet">
  <link href="/css/ngDialog-theme-default.css" rel="stylesheet">
  <link href="/css/all.css" rel="stylesheet">
  
  <script src="/js/jquery-2.2.4.min.js" language="javascript"></script>
  <script src="/js/bootstrap.min.js" language="javascript"></script>
  <script src="/js/angular.min.js" language="javascript"></script>
  <script src="/js/angularjs-google-maps.js" language="javascript"></script>  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTu_OEl2Cw8Lp6OJAuctSRmba9U6AH8nA&libraries=places"></script>
  <script src="/js/ui-bootstrap-tpls-1.1.1.js" language="javascript"></script>  
  <script src="/js/angular-block-ui.min.js" language="javascript"></script>
   <script src="/js/ngDialog.min.js" language="javascript"></script>
  <script src="/js/admin/app.js" language="javascript"></script>
  <script src="/js/admin/directives.js" language="javascript"></script>  
  <script src="/js/js.cookie.js" language="javascript"></script>    
  <script src="/js/all.js" language="javascript"></script> 
</head>
<body ng-app="app">
  <div class="header">
    <div class="logo col-md-4">
      <img src="/images/logo.png" />
    </div>
    <div class="col-md-4">
      <p class="text-center title">ADMINISTRATION TOOL</p>
    </div>
    <div class="col-md-4">
    	<div class="user">
    		<ul class="nav nav-pills">
    			<li role="presentation" class="dropdown pull-right">
				    <a class="dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				    	<span class="user-name"></span>
				      	<span class="caret"></span>
				    </a>   
				    <ul class="dropdown-menu">
	  					<li>
	  						<a href="#" onclick="logout();return false;"><span>Logout</span></a>
	  					</li>      				
    				</ul>
  				</li>  				
			</ul>
    	</div>      
    </div>
  </div>
  <div class="site-body">
  	<div class="main">
  		<div class="left-side">
	    	<nav role="navigation">
	    		<ul class="nav">
	    			<li class="tab_locations">
	    				<a href="/main/location.html">
	    					<span>Locations</span>
	    				</a>	    				
	    			</li>
	    			<li class="tab_alert_types">
	    				<a href="/main/alert-types.html">
	    					<span>Alert Types</span>
	    				</a>	
    				</li>    
    				<li class="tab_bulletins">
	    				<a href="/main/bulletins/bulletins.html">
	    					<span>Bulletins</span>
	    				</a>	
    				</li>   
    				<li class="tab_client_resources">
	    				<a href="/main/resources/client-resources.html">
	    					<span>Client Resources</span>
	    				</a>	
    				</li>   				
	    		</ul>
	    	</nav>
    	</div>
	    <div class="right-site">
	    	<div class="breakcrumb">
	<ol class="breadcrumb">
	  <li class="active">All Location</li>
	</ol>
</div>
<div class="locations" ng-cloak ng-controller="locationController" ng-init="Init()">
	<div>
		<a class="add-new-location" ng-click="addNewLocation()">New Locaiton</a>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>City</th>
					<th>State</th>
					<th>Country </th>
					<th>Longitute</th>
					<th>Latitude</th>
					<th>Street Alerts RSS Url</th>
					<th>Has Upcoming Service</th>
					<th>Has Requset Service</th>
					<th>Has Loation Info</th>
					<th>Has Street Alerts</th>
					<th>Resource Name</th>
										<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="location in locations">
                        <td ng-bind="$index+1"></td>
                        <td ng-bind="location.name"></td>
                        <td ng-bind="location.city"></td>
                        <td ng-bind="location.state"></td>
                        <td ng-bind="location.country_code"></td>
                        <td ng-bind="location.longitude"></td>
                        <td ng-bind="location.latitude"></td>
                        <td ng-bind="location.street_alerts_rss_feed_url"></td>
                        <td ng-bind="location.has_upcomming_events"></td>
                        <td ng-bind="location.has_request_service"></td>
                        <td ng-bind="location.has_location_info"></td>
                        <td ng-bind="location.has_street_alerts"></td>
                        <td ng-bind="location.client_resource.name"></td>
                            
                        <td width="80px;" align="center">
                        	<a class="td-edit" ng-click="editLocation(location)"><i class="fa fa-pencil-square-o"></i></a>   
                        	<a class="td-delete" ng-click="deleteLocation(location.id)"><i class="fa fa-times"></i></a>           
                    	</td> 
                    </tr>
			</tbody>
		 </table>
		 <div class="paginations">
            <div class="col-md-6">
                <uib-pagination boundary-links="true" total-items="TotalItems" ng-change="pageChanged(currentPage)" max-size="maxSize" items-per-page="itemPerPage" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
            <div class="col-md-6 total">
                <span>Total:</span>
                <span ng-bind="TotalItems"></span>                
            </div>
        </div>      
	</div>
</div>

<script language="javascript" src="/js/admin/main/locationController.js"></script>

	

	    </div>
	</div>
  </div>
  <div class="footer">
  </div>
</body>
</html>

<script type="text/ng-template" id="alert-ok">
    <div id="modalSuccess" class="modal-block modal-block-success">
        <section class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">Infomation!</h2>
            </div>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p ng-model="ngDialogData.message">{{ngDialogData.message}}</p>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button ng-click="closeThisDialog(0)" class="btn btn-success modal-dismiss">OK</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</script>

<script type="text/ng-template" id="alert-error">
    <div id="modalDanger" class="modal-block modal-block-danger">
        <section class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">Error!</h2>
            </div>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p ng-model="ngDialogData.message">{{ngDialogData.message}}</p>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button ng-click="closeThisDialog(0)" class="btn btn-danger modal-dismiss">OK</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</script>

<script type="text/ng-template" id="confirm-message">
    <div id="modalDanger" class="modal-block modal-block-danger">
        <section class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">Confirm</h2>
            </div>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p ng-model="ngDialogData.message">{{ngDialogData.message}}</p>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                       <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">No</button>
                    	<button type="button" class="ngdialog-button ngdialog-button-primary ngdialog-button-yes " ng-click="confirm(1)">Yes</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</script>

<script >
	var userNameLoginCookie = readCookie("USERNAME_LOGIN"); 
	if (userNameLoginCookie != null) {   	
		$(".user-name").text(userNameLoginCookie);  
	}
</script> 
 