<div class="client-resource" ng-cloak ng-controller="clientResourceController">
	<div>
		<div class="list-resource col-md-4">	
			<button type="submit" ng-click="createUpdateResource(null, null)" class="new-resource btn btn-primary">New</button>
			<h3>Resources</h3>
			<ul class="list-group" >				
			  	<li class="list-group-item" ng-repeat="resource in resources" ng-class="{active: $first}">
			  		<span class="badge" ng-if="resource.is_default">Default</span>
			  		<a href="#" ng-click="reloadResourceDetail(resource,$event)">				  			
			  		<span ng-bind="resource.name"></span></a>	
			  		<a href="#" class="edit-resource" ng-click="createUpdateResource(resource)"><i class="fa fa-pencil-square-o"></i></a>	  				  		
			  	</li>			  	
			</ul>
		</div>
		
		<div class="resource-detail col-md-8">
			<button ng-click="createUpdateKeyResource(null)" class="add-key-resource btn btn-primary">Add Key</button>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>DisplayText</th>		
						<th width="90px">#</th>			
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="keyResource in keyResources">
	                        <td ng-bind="keyResource.unique_name"></td>
	                        <td ng-bind="keyResource.display_text"></td>    
	                        <td align="center">
	                        	<a class="td-edit" href="#" ng-click="createUpdateKeyResource(keyResource.unique_name)"><i class="fa fa-pencil-square-o"></i></a>   
	                        	<a class="td-delete" href="#" ng-click="deleteKeyResource(keyResource.unique_name)"><i class="fa fa-times"></i></a>                	                       	                        	
	                        </td>                                           
	                    </tr>
				</tbody>
			 </table>			
		</div>		
	</div>
</div>
<script language="javascript" src="/js/admin/main/clientResourceController.js"></script>

	
