<div class="breakcrumb">
	<ol class="breadcrumb">
	  <li><a href="/main/location.html">Locations</a></li>
	  <li class="active">Location detail</li>
	</ol>
</div>
<form name="locationDetail" class="location-detail" ng-cloak ng-controller="locationDetailController" ng-init="Init()">
	<h2 ng-bind="IsUpdate?'Update Location':'Add Location'"></h2>
	<div class="row">
		      <div class="col-md-6">
		      	<div class="row item">
            		<div class="col-md-3">
            			Name:
            		</div>
            		<div class="col-md-9">
            			<input type="text" ng-model="location.name" class="form-control" name="name" required
                              uib-tooltip="{{(locationDetail.name.$error.required)?'This field is required.':''}}"
                              tooltip-enable="!location.name"
                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
            		</div>
            	</div>
            	<div class="row item">
            		<div class="col-md-3">
            			City:
            		</div>
            		<div class="col-md-9">
            			<input type="text" ng-model="location.city" class="form-control" name="city" required
                              uib-tooltip="{{(locationDetail.city.$error.required)?'This field is required.':''}}"
                              tooltip-enable="!location.city"
                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
            		</div>
            	</div>
            	<div class="row item">
            		<div class="col-md-3">
            			State:
            		</div>
            		<div class="col-md-9">
            			<input type="text" ng-model="location.state" class="form-control" name="state" required
                              uib-tooltip="{{(locationDetail.state.$error.required)?'This field is required.':''}}"
                              tooltip-enable="!location.state"
                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
            		</div>
            	</div>
            	<div class="row item" >
            		<div class="col-md-3">
            			Country:
            		</div>
            		<div class="col-md-9">
            			<select class="form-control" ng-model="location.country_code"  ng-init="location.country_code" 
            			ng-options="countryCode.country_code as countryCode.name for countryCode in countryCodes" required>
                        		<option value="" disabled selected hidden>Choose a resource...</option>
                   		 </select>
                   		 </div>
            	</div>
            	<div class="row item">
            		<div class="col-md-3">
            			RSS alerts url:
            		</div>
            		<div class="col-md-9">
            			<input type="text" ng-model="location.street_alerts_rss_feed_url" class="form-control"  required
                              uib-tooltip="{{(locationDetail.state.$error.required)?'This field is required.':''}}"
                              tooltip-enable="!location.state"
                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
            		</div>
            	</div>
            	<div class="row item">
            		<div class="col-md-3">
            			Resources:
            		</div>
            		<div class="col-md-9">
            			<select class="form-control" ng-model="location.resource"  ng-init="location.resource" 
            			ng-options="resource as resource.name for resource in resources" required>
                        		<option value="" disabled selected hidden>Choose a resource...</option>
                   		 </select>
            		</div>
            	</div>
		      </div>
		      <div class="col-md-6">
		      	<div class="row item">
            		<div class="col-md-3">
            			Longitude:
            		</div>
            		<div class="col-md-9">
            			<input type="text" ng-model="location.longitude" class="form-control" name="longitude"  required
                              uib-tooltip="{{(locationDetail.longitude.$error.required)?'This field is required.':''}}"
                              tooltip-enable="!location.longitude"
                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
            		</div>
            	</div>
            	<div class="row item">
            		<div class="col-md-3">
            			Latitude:
            		</div>
            		<div class="col-md-9">
            			<input type="text" ng-model="location.latitude" class="form-control" name="latitude"  required
                              uib-tooltip="{{(locationDetail.latitude.$error.required)?'This field is required.':''}}"
                              tooltip-enable="!location.latitude"
                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
            		</div>
            	</div>
		      	<div class="row item2">
            			<label class="checkbox-inline" >
	                        <input type="checkbox" ng-model="location.has_upcomming_events"  
	                        ng-init="location.has_upcomming_events" 
	                        name="has_upcomming_events"/>Has up comming events
                        </label>
            	</div>
            	<div class="row item2">
            			<label class="checkbox-inline" >
	                        <input type="checkbox" ng-model="location.has_request_service"  
	                        ng-init="location.has_request_service" 
	                        name="has_request_service"/> Has request service
                        </label>
            	</div>
            	<div class="row item2">
            			<label class="checkbox-inline" >
	                        <input type="checkbox" ng-model="location.has_location_info"  
	                        ng-init="location.has_location_info" 
	                        name="has_location_info"/>	Has location info
                        </label>
            	</div>
            	<div class="row item2">
            		
            			<label class="checkbox-inline" >
	                        <input type="checkbox" ng-model="location.has_street_alerts"  
	                        ng-init="location.has_street_alerts" 
	                        name="has_street_alerts"/> Has street alerts
                        </label>
            		
            	</div>
	      </div>
	</div>
	<div class="bottom-action">
		<button type="submit" ng-click="save()" class="button-save">Save</button>
		<button  ng-click="cancel()" class="button-cancel">Cancel</button>
	</div>
</form>
<script language="javascript" src="/js/admin/main/locationDetailController.js"></script>

	
