<div class="client-resource" ng-cloak ng-controller="clientResourceController" ng-init="Init()">
	<div>
		<div class="list-resource col-md-5">	
			<button type="submit" ng-click="createUpdateResource(null, null)" class="new-resource btn btn-primary">New</button>
			
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th width="90px">#</th>			
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{selected: resource.status}" class="resouce-name" ng-repeat="resource in resources.slice(((currentPageResource-1)*itemPerPage), ((currentPageResource)*itemPerPage))">
	                        <td><a href="#" ng-click="reloadResourceDetail(resource,$event)">{{resource.name}}</a><span style="float: right" class="badge" ng-if="resource.is_default">Default</span></td>	                        
	                        <td align="center">
	                        	<a class="td-edit" href="#" ng-click="createUpdateResource(resource)"><i class="fa fa-pencil-square-o"></i></a>   	                        	                	                       	                        	
	                        </td>                                           
	                    </tr>
				</tbody>
			</table>
			
			<div class="paginations">
	            <div class="col-md-6">
					<uib-pagination boundary-links="true" total-items="TotalResourceItems"  max-size="maxSize" items-per-page="itemPerPage" ng-model="currentPageResource" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
	            </div>
	            <div class="col-md-6 total">
	                <span>Total:</span>
	                <span ng-bind="TotalResourceItems"></span>                
            	</div>
            </div>
		</div>
		
		<div class="resource-detail col-md-7">
			<button ng-click="createUpdateKeyResource(null)" class="add-key-resource btn btn-primary">Add Key</button>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>DisplayText</th>		
						<th width="90px">#</th>			
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="keyResource in keyResources.slice(((currentPageKeyResource-1)*itemPerPage), ((currentPageKeyResource)*itemPerPage))">
	                        <td ng-bind="keyResource.unique_name"></td>
	                        <td ng-bind="keyResource.display_text"></td>    
	                        <td align="center">
	                        	<a class="td-edit" href="#" ng-click="createUpdateKeyResource(keyResource.unique_name)"><i class="fa fa-pencil-square-o"></i></a>   
	                        	<a class="td-delete" href="#" ng-click="deleteKeyResource(keyResource.unique_name)"><i class="fa fa-times"></i></a>                	                       	                        	
	                        </td>                                           
	                    </tr>
				</tbody>
			 </table>		
			 <div class="paginations">
	            <div class="col-md-6">
					<uib-pagination boundary-links="true" total-items="TotalKeyResourceItems"  max-size="maxSize" items-per-page="itemPerPage" ng-model="currentPageKeyResource" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
	            </div>
	            <div class="col-md-6 total">
	                <span>Total:</span>
	                <span ng-bind="TotalKeyResourceItems"></span>                
            </div>
        </div>      	
		</div>		
	</div>
</div>
<script language="javascript" src="/js/admin/main/resources/clientResourceController.js"></script>

	
