<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Townsquare - Administration</title>
  
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/angular-block-ui.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/css/ngDialog.css" rel="stylesheet">
  <link href="/css/all.css" rel="stylesheet">
  
  <script src="/js/jquery-2.2.4.min.js" language="javascript"></script>
  <script src="/js/bootstrap.min.js" language="javascript"></script>
  <script src="/js/angular.min.js" language="javascript"></script>
  <script src="/js/ngDialog.min.js" language="javascript"></script>
  <script src="/js/ui-bootstrap-tpls-1.1.1.js" language="javascript"></script>  
  <script src="/js/angular-block-ui.min.js" language="javascript"></script>
  <script src="/js/admin/app.js" language="javascript"></script>
  <script src="/js/admin/directives.js" language="javascript"></script>  
  <script src="/js/js.cookie.js" language="javascript"></script>  
  <script src="/js/all.js" language="javascript"></script>  
</head>
<body ng-app="app">
	<div class="header">
	    <div class="logo col-md-4">
	      <img src="/images/logo.png" />
	    </div>
	    <div class="col-md-4">
	      <p class="text-center title">ADMINISTRATION TOOL</p>
	    </div>
	</div>
    <div class="site-body">
      <%= yield %>
    </div>
	<div class="footer">
	</div>
</body>
</html>
