<div class="breakcrumb">
	<ol class="breadcrumb">
	  <li class="active">Bulletins</li>
	</ol>
</div>
<div class="client-resource" ng-cloak ng-controller="bulletinsController" ng-init="Init()">	
	<div class="row">
		<div class="col-md-2">Location:</div>
		<div class="col-md-8">
			<select class="form-control" ng-model="locationId"  ng-init="locationId" 
        			    ng-options="location.id as location.name for location in locations" ng-change="changeLocation(locationId)">
       		 </select>
		</div>
		<div class="col-md-2">
			<a class="add-key-resource btn btn-primary" ng-click="addNewBulletin()">New Bulletin</a>
		</div>
	</div>
	
	<div class="bulletins-table">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>	
					<th>From</th>
					<th>To</th>
					<th>Image</th>	
					<th>#</th>			
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bulletin in bulletins.slice(((currentPage-1)*itemPerPage), ((currentPage)*itemPerPage))">
                    <td  ng-bind="bulletin.title"></td>
                    <td  ng-bind="bulletin.description"></td>    
                    <td width="100px;" ng-bind="bulletin.valid_from | date:'yyyy/MM/dd'"></td>    
                    <td width="100px;" ng-bind="bulletin.valid_to | date:'yyyy/MM/dd'"></td> 
                    <td><img ng-src="{{bulletin.thumbnail_url}}"/></td>   
                    <td width="70px;" align="center">
                    	<a href="#" class="td-edit" ng-click="editBulletin(bulletin)"><i class="fa fa-pencil-square-o"></i></a>   
                    	<a href="#" class="td-delete" ng-click="deleteBulletin(bulletin)"><i class="fa fa-times"></i></a>           
                	</td>                      
                </tr>
			</tbody>
		 </table>
		 <div class="paginations">
            <div class="col-md-6">
				<uib-pagination boundary-links="true" total-items="TotalItems"  max-size="maxSize" items-per-page="itemPerPage" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
            <div class="col-md-6 total">
                <span>Total:</span>
                <span ng-bind="TotalItems"></span>                
            </div>
        </div>      
	</div>
</div>
<script language="javascript" src="/js/admin/main/bulletins/bulletinsController.js"></script>

	
