<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Townsquare - Administration</title> 
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
 <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/angular-block-ui.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/css/ngDialog.css" rel="stylesheet">
  <link href="/css/ngDialog-theme-default.css" rel="stylesheet">
  <link href="/css/all.css" rel="stylesheet">
  
  <script src="/js/jquery-2.2.4.min.js" language="javascript"></script>
  <script src="/js/bootstrap.min.js" language="javascript"></script>
  <script src="/js/angular.min.js" language="javascript"></script>
  <script src="/js/angularjs-google-maps.js" language="javascript"></script>  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTu_OEl2Cw8Lp6OJAuctSRmba9U6AH8nA&libraries=places"></script>
  <script src="/js/ui-bootstrap-tpls-1.1.1.js" language="javascript"></script>  
  <script src="/js/angular-block-ui.min.js" language="javascript"></script>
   <script src="/js/ngDialog.min.js" language="javascript"></script>
  <script src="/js/admin/app.js" language="javascript"></script>
  <script src="/js/admin/directives.js" language="javascript"></script>  
  <script src="/js/js.cookie.js" language="javascript"></script>    
  <script src="/js/all.js" language="javascript"></script> 
</head>
<body ng-app="app">
  <div class="header">
    <div class="logo col-md-4">
      <img src="/images/logo.png" />
    </div>
    <div class="col-md-4">
      <p class="text-center title">ADMINISTRATION TOOL</p>
    </div>
    <div class="col-md-4">
    	<div class="user">
    		<ul class="nav nav-pills">
    			<li role="presentation" class="dropdown pull-right">
				    <a class="dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				    	<span class="user-name"></span>
				      	<span class="caret"></span>
				    </a>   
				    <ul class="dropdown-menu">
	  					<li>
	  						<a href="#" onclick="logout();return false;"><span>Logout</span></a>
	  					</li>      				
    				</ul>
  				</li>  				
			</ul>
    	</div>      
    </div>
  </div>
  <div class="site-body">
  	<div class="main">
  		<div class="left-side">
	    	<nav role="navigation">
	    		<ul class="nav">
	    			<li class="tab_locations">
	    				<a href="/main/location/location.html">
	    					<span>Locations</span>
	    				</a>	    				
	    			</li>
	    			<li class="tab_alert_types">
	    				<a href="/main/alert-types.html">
	    					<span>Alert Types</span>
	    				</a>	
    				</li>    
    				<li class="tab_bulletins">
	    				<a href="/main/bulletins/bulletins.html">
	    					<span>Bulletins</span>
	    				</a>	
    				</li>   
    				<li class="tab_client_resources">
	    				<a href="/main/resources/client-resources.html">
	    					<span>Client Resources</span>
	    				</a>	
    				</li>   				
	    		</ul>
	    	</nav>
    	</div>
	    <div class="right-site">
	    	<div ng-cloak ng-controller="locationDetailController" ng-init="Init()">
	<div class="breakcrumb">
		<ol class="breadcrumb">
		  <li><a href="/main/location/location.html">Locations</a></li>
		  <li class="active">Location detail</li>
		</ol>
	</div>
	<div  class="location-detail-header" >
		<h2 ng-bind="IsUpdate?'Update Location':'Add Location'"></h2>
	 <input type="text" gm-places-autocomplete ng-model="autocomplete" class="form-control" placeholder="Input your location"/>
		 </div>
	<form name="locationDetail" class="location-detail" >
		<div class="row">
			      <div class="col-md-6">
			      	<div class="row item">
	            		<div class="col-md-3">
	            			Name:
	            		</div>
	            		<div class="col-md-9">
	            			<input type="text" ng-model="location.name" class="form-control" name="name" required
	                              uib-tooltip="{{(locationDetail.name.$error.required)?'This field is required.':''}}"
	                              tooltip-enable="!location.name"
	                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
	            		</div>
	            	</div>
	            	<div class="row item">
	            		<div class="col-md-3">
	            			Resources:
	            		</div>
	            		<div class="col-md-9">
	            			<select class="form-control" ng-model="location.client_resource_id"  ng-init="location.client_resource_id" 
	            			 ng-options="resource.id as resource.name for resource in resources" required>
	                        		<option value="" disabled selected hidden>Choose a resource...</option>
	                   		 </select>
	            		</div>
	            	</div>
	            	<div class="row item">
	            		<div class="col-md-3">
	            			RSS alerts url:
	            		</div>
	            		<div class="col-md-9">
	            			<input type="text" ng-model="location.street_alerts_rss_feed_url" class="form-control" name="street_alerts_rss_feed_url"/>
	            		</div>
	            	</div>
	            	<div class="row item">
	            		<div class="col-md-3">
	            			New RSS url 1:
	            		</div>
	            		<div class="col-md-9">
	            				<input type="text" ng-model="location.news_rss_url_1" class="form-control" name="street_alerts_rss_feed_url"/>
	            		</div>
	            	</div>
	            	<div class="row item">
	            		<div class="col-md-3">
	            			New RSS url 2:
	            		</div>
	            		<div class="col-md-9">
	            				<input type="text" ng-model="location.news_rss_url_2" class="form-control" name="street_alerts_rss_feed_url"/>
	            		</div>
	            	</div>
	            	<div class="row item">
	            		<div class="col-md-3">
	            			New RSS url 1:
	            		</div>
	            		<div class="col-md-9">
	            				<input type="text" ng-model="location.news_rss_url_3" class="form-control" name="street_alerts_rss_feed_url"/>
	            		</div>
	            	</div>
			      </div>
			      <div class="col-md-6">
			      	<div class="row item">
	            		<div class="col-md-3">
	            			City:
	            		</div>
	            		<div class="col-md-9">
	            			<input type="text" ng-model="location.city" class="form-control" name="city" required readonly
	                              uib-tooltip="{{(locationDetail.city.$error.required)?'This field is required.':''}}"
	                              tooltip-enable="!location.city"
	                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
	            		</div>
	            	</div>
	            	<div class="row item">
	            		<div class="col-md-3">
	            			State:
	            		</div>
	            		<div class="col-md-9">
	            			<input type="text" ng-model="location.state" class="form-control" name="state" required readonly disabled
	                              uib-tooltip="{{(locationDetail.state.$error.required)?'This field is required.':''}}" 
	                              tooltip-enable="!location.state"
	                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
	            		</div>
	            	</div>
	            	<div class="row item" >
	            		<div class="col-md-3">
	            			Country:
	            		</div>
	            		<div class="col-md-9">
	            			<input type="text" ng-model="location.country" class="form-control" name="country" required readonly disabled
	                              uib-tooltip="{{(locationDetail.country.$error.required)?'This field is required.':''}}" 
	                              tooltip-enable="!location.country"
	                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
	                              <input type="text" ng-model="location.country_code" class="form-control" name="country_code" required readonly  ng-show="false"
	                              uib-tooltip="{{(locationDetail.country_code.$error.required)?'This field is required.':''}}" 
	                              tooltip-enable="!location.country_code"
	                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
	            		 </div>
	            	</div>
			      	<div class="row item">
	            		<div class="col-md-3">
	            			Longitude:
	            		</div>
	            		<div class="col-md-9">
	            			<input type="text" ng-model="location.longitude" class="form-control" name="longitude"  required readonly
	                              uib-tooltip="{{(locationDetail.longitude.$error.required)?'This field is required.':''}}"
	                              tooltip-enable="!location.longitude"
	                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
	            		</div>
	            	</div>
	            	<div class="row item">
	            		<div class="col-md-3">
	            			Latitude:
	            		</div>
	            		<div class="col-md-9">
	            			<input type="text" ng-model="location.latitude" class="form-control" name="latitude"  required readonly
	                              uib-tooltip="{{(locationDetail.latitude.$error.required)?'This field is required.':''}}"
	                              tooltip-enable="!location.latitude"
	                              tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
	            		</div>
	            	</div>
			      	<div class="row item2">
	            		<div class="col-md-6">
	            			<label class="checkbox-inline" >
		                        <input type="checkbox" ng-model="location.has_request_service"  
		                        ng-init="location.has_request_service" 
		                        name="has_request_service"/> Has request service
	                        </label>
	            		</div>
	            			<div class="col-md-6">
	            			<label class="checkbox-inline" >
		                        <input type="checkbox" ng-model="location.has_location_info"  
		                        ng-init="location.has_location_info" 
		                        name="has_location_info"/>	Has location info
	                        </label>
	            		</div>
	            	</div>
	            	<div class="row item2">
	            			<div class="col-md-6">
	            				<label class="checkbox-inline" >
		                        <input type="checkbox" ng-model="location.has_upcomming_events"  
		                        ng-init="location.has_upcomming_events" 
		                        name="has_upcomming_events"/>Has up comming events
	                        </label>
	            			</div>
	            			<div class="col-md-6">
	            				<label class="checkbox-inline" >
		                        <input type="checkbox" ng-model="location.has_street_alerts"  
		                        ng-init="location.has_street_alerts" 
		                        name="has_street_alerts"/> Has street alerts
	                        </label>
	            			</div>
	            	</div>
		      </div>
		</div>
		<div class="bottom-action">
			<button type="submit" ng-click="save()" class="button-save">Save</button>
			<button  ng-click="cancel()" class="button-cancel">Cancel</button>
		</div>
	</form>
</div>
<script language="javascript" src="/js/admin/main/location/locationDetailController.js"></script>

	

	    </div>
	</div>
  </div>
  <div class="footer">
  </div>
</body>
</html>

<script type="text/ng-template" id="alert-ok">
    <div id="modalSuccess" class="modal-block modal-block-success">
        <section class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">Infomation!</h2>
            </div>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p ng-model="ngDialogData.message">{{ngDialogData.message}}</p>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button ng-click="closeThisDialog(0)" class="btn btn-success modal-dismiss">OK</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</script>

<script type="text/ng-template" id="alert-error">
    <div id="modalDanger" class="modal-block modal-block-danger">
        <section class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">Error!</h2>
            </div>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p ng-model="ngDialogData.message">{{ngDialogData.message}}</p>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button ng-click="closeThisDialog(0)" class="btn btn-danger modal-dismiss">OK</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</script>

<script type="text/ng-template" id="confirm-message">
    <div id="modalDanger" class="modal-block modal-block-danger">
        <section class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">Confirm</h2>
            </div>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                    	<p ng-model="ngDialogData.message">{{ngDialogData.message}}</p>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                       <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">No</button>
                    	<button type="button" class="ngdialog-button ngdialog-button-primary ngdialog-button-yes " ng-click="confirm(1)">Yes</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</script>

<script >
	var userNameLoginCookie = readCookie("USERNAME_LOGIN"); 
	if (userNameLoginCookie != null) {   	
		$(".user-name").text(userNameLoginCookie);  
	}
</script> 
 